<form class=" form-add-entry">
    
    <fieldset>
        <legend>Add entry</legend>
        <input type="text" class="input input-amount" placeholder="Amount" />
        <input type="text" class="input input-description typeahead" placeholder="Description" />
        <input type="text" class="input input-party-name typeahead" placeholder="Party name" />
    </fieldset>

    <fieldset>
        <label>Date</label>
        <input type="text" class="input input-mini input-date-day" placeholder="DD" />
        <input type="text" class="input input-mini input-date-month" placeholder="MM" />
        <input type="text" class="input input-mini input-date-year" placeholder="YYYY" />
    </fieldset>

    <fieldset>
        <button class="btn submit">Add entry</button>
    </fieldset>

</form>
