<td>
	<span class="label <%= amount > 0 ? 'label-success' : 'label-important' %>"><%= amount %></span>	
</td>	
<td>
	<small><%= description %></small>
</td>	
<td>
	<a href="#" class="edit btn btn-info btn-mini">Edit</a>
</td>
<td>
	<a href="#" class="delete btn btn-danger btn-mini">Delete</a>
</td>