@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';

body {
	background: #EAEAEA;
}

.container {
	padding: 20px 0;
	background: #fff;
}

.chart {
	height: 200px;
	width: 100%;
	background: yellow;
}